<?xml version="1.0" encoding="UTF-8"?>
<module id="8890" version="2016052300">
  <modulename>certificate</modulename>
  <sectionid>2516</sectionid>
  <sectionnumber>6</sectionnumber>
  <idnumber></idnumber>
  <added>1634317204</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>2</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>1</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","showc":[true,true,true,true],"c":[{"type":"completion","cm":8885,"e":1},{"type":"completion","cm":8886,"e":1},{"type":"completion","cm":8887,"e":1},{"type":"completion","cm":8888,"e":1}]}</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>